<div id='container'>
<!-- form where user can input a link -->
<h2>Shorten</h2>

<form name="shortener" ng-submit="addLink(link)">

  <div class="error" ng-if='shortener.shortenInput.$invalid'>Please enter a valid URL</div>

  <input type='url' name='shortenInput' ng-model='link.url' placeholder="Type in a link you want to shorten">

  <button ng-disabled = 'shortener.$invalid'>signup</button><span ng-if='loading'><img src="assets/spiffygif_46x46.gif"></span>

</form>

<div class="message">
  <div class="link" style="display: block;">
    <div ng-if="shortenedLink" >
    <img src="assets/redirect_icon.png">
    <div class="info">
      <div class="visits"><span class="count">{{shortenedLink.visits}}</span></div>
      <div class="title">{{shortenedLink.title}}</div>
      <div class="original">{{shortenedLink.url}}</div>
      <a ng-href='{{shortenedLink.base_url + "/api/links/" + shortenedLink.code}}'>{{shortenedLink.base_url + "/api/links/" + shortenedLink.code}}</a>
      </div>
    </div>
  </div>
</div>
  

</div>

