<div id='container'>
<h2>Links</h2>
<!-- display links -->
  <!-- on page load call getLinks() -->
  
  <input type="text" placeholder="search for a link" ng-model='search'/>

  <div ng-if="data.links" >
    <div ng-repeat="link in data.links | orderBy: '-visits' | filter:search">
      
      <div class="message">
        <div class="link" style="display: block;">
          
        <img src="assets/redirect_icon.png">
        <div class="info">
        <div class="visits"><span class="count">{{link.visits}}</span></div>
        <div class="title">{{link.title}}</div>
        <div class="original">{{link.url}}</div>
        <a ng-href='{{link.base_url + "/api/links/" + link.code}}'>{{link.base_url + "/api/links/" + link.code}}</a>
        </div>
      </div>
    </div>
  </div>
  </div>

</div>
